body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    color: #e0e0e0;
}
.header, .section, .footer {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #2c2c2c;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
}
.header {
    background: #333;
}
h1 {
    color: #00d4ff;
    margin-bottom: 10px;
}
p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
a.button {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
a.button:hover {
    background-color: #0056b3;
}
.icon {
    margin-right: 8px;
}
.footer {
    font-size: 0.9em;
    background: #1c1c1c;
}
.block-preview {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
}
.block-preview a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
    transition: background-color 0.3s ease;
}
.block-preview a:hover {
    background-color: #444;
}
.view-all-button {
    display: inline-flex;
    align-items: center;
    margin: 20px 0;
    padding: 15px 25px;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    border-radius: 35px;
}
.view-all-button:hover {
    background-color: #218838;
}

.var {
    padding: 3px;
    background-color: #0057b37c;
    border-radius: 10px;
    display: inline;
}
#searchBar {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 35px;
}